<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;0,800;0,900;1,300;1,400&display=swap"> --}}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="animate.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
    <title>Martin Paul</title>
</head>
<body>
    {{{body}}}
    <footer>
        <div id="to-top-div">
            <a href="#top">
                <img id="to-top" src="/img/to_top.png" />
            </a>
        </div>
        <div id="copyright-div">
            <p id="copyright">© 2020 Martin Paul</p>
        </div>
        <div id="footer-links">
            <div class="footer-link-div">
                <a class="footer-link" href="mailto: martinpaul.career@gmail.com" >
                    <p>EMAIL</p>
                </a>
                <span class="focus-border"></span>
            </div>
            <div class="footer-link-div">
                <a class="footer-link" href="https://github.com/MartinCreate" target="_blank">
                    <p>GITHUB</p>
                </a>
                <span class="focus-border"></span>
            </div>
            <div class="footer-link-div">
                <a class="footer-link" href="https://www.linkedin.com/in/martin-paul-b02a2650/" target="_blank">
                    <p>LINKEDIN</p>
                </a>
                <span class="focus-border"></span>
            </div>
        </div>
    </footer>
</body>
</html>