    <header>
        <p id="headline">Web-Dev Portfolio - Martin Paul</h1>
    </header>

    <h3>Projects</h3>
    <div class='bigContainer'>
        <div class="container">
            {{> list pic=true homeP=true}}
        </div>
    </div>
