    <header>
        <div id="name-header">
            <h1>Martin Paul | Full Stack Web Developer</h1>
            <h3>Portfolio</h3>
        </div>
        <div id="about-me">
            <p>I strive to create web-sites and web-applications that are effortless for the user to navigate in addition to being aesthetically pleasing.</p>
        </div>
        <div id="header-arrow">Arrow Down</div>
    </header>
    <div class='bigContainer'>
        <div class="container">
            {{> list }}
        </div>
    </div>
