body {
    /* border: 1px solid red; */
    width: 100%;
    font-family: Arial;
    margin: 0;
    bottom: 0;
}

/* ---------------------------------------- Title Card -------------------------------------------------  */
header {
    /* border: 1px red solid; */
    /* position: fixed; */
    background: url("head_pic.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    /* top: 0; */
    width: 100%;
    /* background-color: rgba(255, 255, 255, 0.966); */
    border-bottom: 2px rgb(94, 94, 94) solid;
    color: white;
    font-family: "Raleway";

    position: relative;
}

#name-header {
    /* border: 1px red solid; */
    text-align: center;
}

.my-name {
    font-size: 70px;
}

.job-title {
    margin-top: 90px;
    font-size: 30px;
}

#about-me {
    /* border: 1px blue solid; */
    text-align: center;
}
/* #header-arrow {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 50px;
} */

.down-arrow-div {
    padding: 50px 0;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    filter: invert(40%);
    transition-duration: 0.5s;
}
.down-arrow-div:hover {
    filter: invert(0%);
    transform: scale(1.5);
    transition-duration: 0.3s;
}

.down-arrow {
    filter: invert(100%);
    height: 20px;
}
.down-arrow:hover {
}

/* ---------------------------------------- Tech Stack -------------------------------------------------  */
.tech-stack-section {
    /* border: 1px red solid; */
    height: 100vh;
    position: relative;
    text-align: center;
    display: grid;
    grid-template-rows: 30% 70%;
}

.techstack-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-header {
    font-size: 50px;
}

#tech-stack-divs {
    /* border: 1px red solid; */
    display: flex;
    justify-content: space-around;
}

.stack {
    /* border: 1px blue solid; */
    text-align: left;
}

.tech-icon {
    height: 25px;
    margin-right: 25px;
    /* opacity: 0.8; */
    filter: grayscale(30%);
}
.stack h4 {
    font-size: 20px;
    padding-left: 50px;
}

.stack p {
    /* border: 1px red solid; */
    margin: 0 0 5px 0;
    font-size: 18px;
    display: flex;
    align-items: center;
    /* color: rgb(69, 69, 69); */
    font-family: "Courier New", Courier, monospace;
}

/* .arrow-down {
    position: absolute;
    bottom: 0;
    width: 100%;
} */

/* ---------------------------------------- Projects -------------------------------------------------  */
.bigContainer {
    /* border: 1px solid blue; */
    width: 100%;
    display: block;
}

.container {
    /* border: 1px green solid; */
    background: url("proj-back.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    justify-items: center;
    padding-top: 200px;
}

.project-div {
    /* border: 1px blue solid; */
    border-bottom: 1px lightgrey solid;
    background-color: whitesmoke;
    /* background: url("lightpaperfibers.png"); */
    width: 100%;
    /* height: 400px; */
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 50px 0;
    padding: 80px 0;
}

.project-info {
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start; */
    padding: 0 0 0 30px;
}
.project-info h4 {
    font-size: 25px;
    margin: 0;
    margin-bottom: 20px;
}

.proj-desc {
    margin: 0;
}

.features-div-container {
    /* border: 1px red solid; */
    margin: 30px 0;
}

.features-title {
    text-decoration: underline;
}
.features-div {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 10px;
    color: rgb(45, 45, 45);
}

.tech-div {
    /* border: 1px red solid; */
    height: 50px;
    display: flex;
    align-items: center;
}

.tech {
    border: 2px #1a4fc2 solid;
    border-radius: 5px;
    color: #1a4fc2;
    padding: 8px;
    margin-right: 10px;
    cursor: default;
}
.tech:hover {
    /* color: white; */
    background-color: #1a4fc220;
}

.img-div {
    /* border: red solid 1px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-img {
    /* border: red solid 1px; */
    max-height: 270px;

    object-fit: contain;
    cursor: pointer;
}

.project-img {
    transition-duration: 0.5s;
}
.project-img:hover {
    filter: brightness(1);
    transform: scale(1.1);
    transition-duration: 0.3s;
}

footer {
    border: 1px lightgray solid;
    width: 100%;
    background-color: rgb(206, 198, 211);
    height: 50px;
    margin-top: 0;
}

footer p {
    margin-left: 30px;
}

@media screen and (min-width: 100px) and (max-width: 1180px) {
    .tech-icon {
        visibility: hidden;
    }

    .project-div {
        grid-template-columns: 1fr;
        padding: 30px 0;
    }

    /* .img-div {
        grid-row: 1 / span 1;
    }

    .project-info {
        grid-row: 2 / span 1;
    } */

    .project-info,
    .features-div-container,
    .features-div {
        /* border: 1px red solid; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .features-div {
        /* border: 1px red solid; */
        /* width: 70vw; */
        margin: 30px 0;
        align-items: flex-start;
        grid-template-columns: none;
    }

    .img-div {
        padding: 50px 0;
    }
}
