body {
    /* border: 1px solid red; */
    width: 100vw;
    font-family: Arial;
    background-image: url("back.jpg");
    margin: 0;
    bottom: 0;
}

header {
    /* border: 1px red solid; */
    position: fixed;
    display: flex;
    height: 40px;
    justify-content: center;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.966);
    border-bottom: 2px rgb(94, 94, 94) solid;
}

#headline {
    /* border: 1px blue solid; */
    font-size: 25px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    position: absolute;
    top: -22px;
}

h3 {
    margin-top: 100px;
    text-align: center;
    position: relative;
    height: 80px;
    font-size: 50px;
    color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.803);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.bigContainer {
    /* border: 1px solid blue; */
    width: 100vw;
}

.container {
    /* border: 1px green solid; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.project {
    /* border: blue 1px solid; */
    margin-bottom: 6vh;
    background-color: white;
    width: 70vw;
    min-width: 250px;
    max-width: 550px;
    height: 40vw;
    max-height: 350px;
    border-radius: 20px;
    border: 1px grey solid;
}

.project:hover {
    background-color: whitesmoke;
}

.project h4 {
    /* border: 1px red solid; */
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
    margin-bottom: 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgb(227, 227, 255);
    border-bottom: 1px lightgrey solid;
}

h4:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(195, 195, 220);
}

.link-name {
    text-decoration: none;
    color: black;
}

.img-div {
    /* border: red solid 1px; */
    display: flex;
    justify-content: center;
}

.img-home {
    /* border: red solid 1px; */
    height: 25vw;
    max-height: 250px;

    object-fit: contain;
    cursor: pointer;
}

img:hover {
    filter: brightness(1);
    transform: scale(1.01);
    transition-duration: 0.2s;
}

footer {
    border: 1px lightgray solid;
    width: 100vw;
    background-color: rgb(206, 198, 211);
    height: 50px;
    margin-top: 0;
}

footer p {
    margin-left: 30px;
}

@media screen and (min-width: 500px) and (max-width: 1000px) {
    .container {
        /* border: 1px green solid; */
        grid-template-columns: 1fr;
    }

    .project h4 {
        margin-bottom: 3vw;
    }
}
/* -----------------Styling for description page---------------------- */

.desc-bigContainer {
    display: grid;
    grid-template-columns: minmax(250px, 20vw) 1fr;
    background-image: url("back-desc.jpg");
}

/* --------Left Column-------- */

#left-col {
    /* border: 1px green solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#left-head {
    font-size: 30px;
    font-weight: bold;
    background-color: rgba(251, 249, 254, 0.94);
    padding: 10px;
    margin-top: 150px;
    margin-bottom: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 1px grey solid;

    border-bottom: none;
}

#desc-container {
    /* border: 1px blue solid; */
    padding: 20px;
    background-color: rgba(251, 249, 254, 0.94);
    width: 200px;
    border-radius: 20px;
    border: 1px grey solid;
}

.desc-projNames {
    font-size: 20px;
}

.desc-projNames:hover {
    background-color: rgba(0, 0, 0, 0);
    color: darkgray;
}

/* --------Right Column-------- */

#right-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#right-head {
    /* border: red 1px solid; */
    font-size: 50px;
    font-weight: bold;
    background-color: rgba(251, 249, 254, 0.982);
    padding: 25px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 15px;
    margin-bottom: 0px;
    border: 1px grey solid;
    border-bottom: none;
}

#desc-img-cont {
    height: 500px;
    width: 900px;
    background-color: rgba(251, 249, 254, 0.94);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px grey solid;
}

#picture {
    height: 400px;
    background-color: rgba(251, 249, 254, 0.94);
}

#dec-text {
    background-color: rgba(251, 249, 254, 0.94);
    border: 1px grey solid;
    border-top: none;
    margin-top: 0px;
    margin-bottom: 50px;
    width: 900px;
    padding-bottom: 30px;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 500px;
}

#dec-text a {
    text-decoration: none;
}

#dec-text a p {
    border: 2px grey solid;
    color: rgb(82, 82, 82);
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    padding: 3px;
}

#dec-text a p:hover {
    background-color: grey;
    color: white;
}
