* {
    margin: 0;
}

.highlight {
    background-color: lightgray;
    text-decoration: underline;
    color: darkblue;
    cursor: pointer;
}
#container {
    margin-left: 10px;
    margin-top: 10px;
}
#search {
    /* border: 1px rgba(138, 138, 138, 0.74) solid; */
    width: 126px;
}

input {
    width: 120px;
}

#results {
    border: 1px rgba(138, 138, 138, 0.74) solid;

    visibility: hidden;
}

.noResults {
    color: gray;
    background-color: none;
    text-decoration: none;
    cursor: not-allowed;
}
